body {
    background: url("../img/Background.png");
    height: 7089px;
}


.box {
    position: relative;
    width: 225px;
    height: 70px;
    color: #ffffff;
    margin: 13% auto;
}

.box-angle {
    position: absolute;
    width: 200px;
    height: 2px;
}

.box-angle::before {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 50px;
}

.box-angle-top,
.box-angle-top::before {
    top: 0;
}
.box-angle-left,
.box-angle-left::before {
    left: 0;
}
.box-angle-right,
.box-angle-right::before {
    right: 0;
}

.box-angle-bottom,
.box-angle-bottom::before {
    bottom: 0;
}

.box-angle.box-angle-top,
.box-angle.box-angle-top::before {
    background-color: #9a9a9a;
    box-shadow: 0 0 20px 4px rgba(255, 255, 255, 0.07);
}

.box-angle.box-angle-bottom,
.box-angle.box-angle-bottom::before {
    background-color: #9a9a9a;
    box-shadow: 0 0 20px 4px rgba(255, 255, 255, 0.07);
}

.box p {
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    font-family: Fira Sans, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.border {
    margin: 0 5%;
    height: 100%;
    border-left: 1px white solid;
    border-right: 1px white solid;
}

.title-list {
    height: 100%;
    background-image: url("../img/fon-title.png");
    background-position: center center;
}

.title-name {
    color: #ffffff;
    font-family: Fira Sans, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    letter-spacing: 3px;
    margin: 10% 0 8%;
}

.logo {
    text-align: center;
}

.language {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    margin: 5%;

}

.language>li {
    margin-left: 2%;
    opacity: 0.2;
    color: #ffffff;
    font-family: Fira Sans, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26.37px;
    letter-spacing: 0.4px;
    list-style: none;
}

.language>li:hover {
    cursor: pointer;
    color: #ffffff;
    opacity: 1;
}

.menu {
    margin: 20% 0;
    transform: rotate(-90deg);
    position: absolute;
}

.left-menu:hover {
    cursor: pointer;
    color: white;
}

.bloc-text-about {
    width: 24%;
    padding: 7% 13%;
}

.bloc-text-about>img {
    margin: -30%;
}

.about-resad {
    margin: 10% 0;
    color: #070215;
    font-family: Fira Sans, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2.43px;
}

.text-resad {
    color: #000000;
    font-family: Fira Sans, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.41px;
}

.offices {
    width: 138px;
    height: 134px;
    box-shadow: 0 0 4px 2px rgba(58, 29, 122, 0.05);
    border: 1px solid #070115;
    background-color: #f0f0f5;
    opacity: 0.4;
    margin: 25% 0 -10% 75%;
    display: flex;
    align-items: center;
}

.founded {
    width: 320px;
    height: 179px;
    box-shadow: 0 0 4px 2px rgba(58, 29, 122, 0.05);
    border: 1px solid #111227;
    background-color: #f0f0f5;
    opacity: 0.7;
    margin: -10% 0 0% -10%;
    display: flex;
    align-items: center;
}

.developers {
    width: 293px;
    height: 132px;
    box-shadow: 0 0 4px 2px rgba(58, 29, 122, 0.05);
    border: 1px solid #070115;
    background-color: #f0f0f5;
    opacity: 0.6;
    margin: -25% 0 0 72%;
    display: flex;
    align-items: center;
}

.projects {
    width: 166px;
    height: 253px;
    box-shadow: 0 0 4px 2px rgba(58, 29, 122, 0.05);
    border: 1px solid #070115;
    background-color: #f0f0f5;
    opacity: 0.5;
    margin: -25% 0 0 45%;
    display: flex;
    align-items: center;
}

.line-offices {
    background-color: black;
    border: none;
    width: 27px;
    height: 1px;
    margin: 0px 0px 40px 40px;
}

.name-block {
    text-align: center;
    font-family: Fira Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 41.41px;
    text-transform: uppercase;
    letter-spacing: 0.36px;
}

.number {
    text-align: center;
    color: #18003f;
    font-family: Fira Sans, sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 41.41px;
    letter-spacing: 1.42px;
}

.services {
    display: flex;
}

.chart-block {
    display: flex;
}

.bloc-text-services {
    padding: 0 13%;
    width: 35%;
}

.services-background {
    background-image: url("../img/Vector_Smart_Object.png");
    width: 756px;
    height: 220px;
    opacity: 0.4;
}

.text-resad {
    opacity: 0.8;
    color: #000000;
    font-family: Fira Sans, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.circles-section {
    width: 55%;
    margin: 10% auto;
}

.img-text, .text-img {
    align-items: center;
    display: flex;
    margin: 10% 0;
}

.name-circle {
    color: #070215;
    font-family: Fira Sans, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.2px;
}

.text-circle {
    width: 50%;
    margin: 0 auto;
}

.text-circle>hr {
    background-color: black;
    border: none;
    margin: 5% 0;
    width: 106px;
    height: 1px;
}

.text {
    opacity: 0.9;
    color: #000000;
    font-family: Fira Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.35px;
}

.section-with-chart {
    background-image: url("../img/Vector_Smart_Object.png");
    height: 387px;
}

.card-startup {
    width: 781px;
    box-shadow: 17px -1px 29px rgba(7, 1, 21, 0.13);
    background-color: #f5f5f6;
    padding: 5%;
}

.name-card {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.22);
    color: #070215;
    font-family: Fira Sans, sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.text-card {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.clients {
    padding: 5%;
}

.our-clients {
    text-align: center;
    color: #070215;
    font-family: Fira Sans, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.brand {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 7%;
}

.brand>img {
    margin: 2% 5%;
}

.blue-button {
    color: #3e00a5;

}

.black-block {
    height: 640px;
    background-color: #070215;

}

.vector {
    align-items: center;
    display: flex;
    height: 745px;
    background-image: url(../img/Векторний_block.png);
    justify-content: center;
}

.block-white-text>img {
    margin: 35% 0;
}

.list {
    width: 40%;
}

.text-opacity {
    opacity: 0.1;
    color: #ffffff;
    font-family: Fira Sans, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.4px;
    margin: 3% 0;
}

.opacity {
    opacity: 0.2;
}

.opacity4 {
    opacity: 0.4;
}

.opacity9 {
    opacity: 0.9;
    margin: 6% 0;
}

.white-text {
    color: #ffffff;
    font-family: Fira Sans, sans-serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 4.2px;
    opacity: 0.9;
}

.line-benefits {
    width: 70px;
    height: 2px;
    background-color: #3e00a5;
    margin: initial;
}

.benefits {
    display: flex;
    justify-content: space-evenly;
    padding: 10%;
    align-items: center;
}

.benefit-block>div {
    margin-bottom: 40%;
    width: max-content;
}

.block-all-benefits {
    display: flex;
    align-items: center;
}

.benefit-block {
    margin: 0 10%;
}

.line-text>p {
    margin: 0 20px;
}

.icons-technologies {
    margin: 5% auto;
    text-align: center;
}

.icons>img {
    margin: 2%;
}

.industries {
    padding: 0 0 10%;
}

.text-industries {
    text-align: center;
}

.button-text-industries {
    height: 20px;
    width: auto;
    box-shadow: 10px -1px 18px rgba(7, 1, 21, 0.1);
    background-color: #f5f5f6;
    margin: 3% 2%;
    padding: 2%;
}

.button-text>p {
    padding: 10% 6%;
    color: #000000;
    font-family: Fira Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.45px;
    text-align: center;
}

.all-button {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.footer {
    background: round;
    background-image: url("../img/2-layers.png");
    color: #f5f5f6;

}

.block-footer {
    display: flex;
    padding: 9%;
    justify-content: space-around;
}


.text-name-footer {
    font-family: Fira Sans, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.white-footer-text {
    opacity: 0.8;
    color: #ffffff;
    font-family: Fira Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.35px;
    width: 55%;
    margin: 7% 0;
}

.line-white>hr {
    display: flex;
    width: 317px;
    border: none;
    opacity: 0.3;
    background: #f5f5f6;
    margin: 15% 0;
    height: 1px;
}

.line-white {
    margin: 0 10% 0 -25%;
}

.info-register>a {
    color: #3e00a5;
    font-family: Fira Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.info-register>p {
    color: #ffffff;
    font-family: Fira Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.form {
    display: flex;
}

.message {
    width: 315px;
    height: 57px;
    border: 1px solid #9a9a9a;
    background-color: #12092b;
    opacity: 0.9;
    color: #ffffff;
}

.form-write {
    background-color: transparent;
    width: 317px;
    border: none;
    opacity: 0.9;
    color: #ffffff;
    font-family: Fira Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.footer-form>hr {
    width: 317px;
}

.contact {
    margin: 0 2%;
    display: flex;
    justify-content: space-between;
}

.icon-footer {
    font-size: 24px;
    margin: 0 3%;
}

